blinker==1.4
certifi==2018.11.29
chardet==3.0.4
Click==7.0
closure==20121212
coverage==3.7.1
decorator==3.3.2
fakeredis==0.4.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Cors==3.0.7
Flask-DebugToolbar==0.10.1
Flask-SeaSurf==0.2.2
gevent==1.1.2
greenlet==0.4.15
gunicorn==19.9.0
hiredis==0.1.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jsmin==2.0.2.post1
Markdown==2.3.1
MarkupSafe==1.1.0
mock==2.0.0
pbr==5.1.2
python-coveralls==2.4.3
python-dateutil==2.8.0
PyYAML==3.10
redis==2.9.0
requests==2.21.0
sh==1.12.14
six==1.12.0
statsd==3.2.1
urllib3==1.24.1
webassets==0.12.1
Werkzeug==0.14.1
yuicompressor==2.4.7
